work/
.nextflow/
data_sources/
test_dataset/
resources/
sandbox/
results/pipeline_run_info/
deprecated/
.vscode/
config/subseq_rs/target

results/report.html*
results/
results/lineage_designation_dates.csv
results/pango_consensus_sequences.fasta
.nextflow.log*
.DS_Store
._*
.Rhistory
*token