params {
	

	// WORKFLOW PARAMETERS TO REVIEW AT EACH RUN
	// ----------------------------------------
	// Date range to search for prolonged infections within. Must be for-
	// matted like "1996-09-28"
	min_date = ""
	max_date = ""

	// U.S. State or Canadian province to search within
	geography = ""

	// Absolute path to the local directory where subdirectories for each
	// sequencing run are stored.
	local_database = "/Volumes/GoogleDrive/Shared drives/2019-nCoV open research team/Sequencing Data"

	// If metadata, including pango lineages and sequencing dates, are 
	// available for the local database, supply the absolute path to it
	// here.
	local_metadata = ""

	// To search the local metadata, set this parameter to true.
	search_local_metadata = false

	// Absolute path to where you have locally downloaded the full GISAID 
	// EpiCoV database in FASTA format. NOTE: This file must be 
	// unzipped/decompressed.
	gisaid_seq_dir = ""

	// Absolute path to  where you have locally downloaded the full GISAID
	// EpiCoV database metadata NOTE: This file must be unzipped/decompressed.
	gisaid_metadata_dir = ""

	// Boolean (true or false); whether to search for and reclassify SARS-
	// CoV-2 sequences in GISAID.
	search_gisaid_seqs = false

	// Boolean (true or false); a faster alternative to the above that does
	// not involve running pangolin on each GISAID consensus sequence, and
	// instead simply searches GISAID metadata
	search_gisaid_metadata = false

	// Boolean (true or false); whether to search for and reclassify SARS-
	// CoV-2 sequences in INSDC. This is done with NCBI GenBank tools.
	search_genbank_seqs = false

	// Boolean (true or false); a faster alternative to search_genbank_seqs 
	// that does not involve running pangolin on each INDSC consensus sequence, 
	// and instead simply searches GenBank metadata
	search_genbank_metadata = true
	
	// Where to place results
	results = "$launchDir/results"
	
	// How many days past lineage designation to consider an infection prolonged
	days_of_infection = 240

	// The minimum number of days of infection required to download a FASTA sequence
	duration_of_interest = 600
	
	// date for docker image tagging
	date = new java.util.Date().format('yy_MM_dd')
	// ----------------------------------------
	


	
	// WORKFLOW PARAMETERS THAT SHOULD NOT BE CHANGED
	// ----------------------------------------
	// resources folder
	resources = "$baseDir/resources"

	// ----------------------------------------
	

}


// WHETHER TO GENERATE A REPORT OF RUN STATISTICS
report {
	enabled = false
	file    = "${params.results}/finder-run-report.html"
}


// WHETHER TO GENERATE A VISUALIZATION OF THE WORKFLOW
dag {
	enabled = false
	overwrite = true
	file = 'long-infection-finder.png'
}


// WHETHER TO REMOVE TEMPORARY FILES AFTER A SUCCESSFUL RUN
cleanup = false


// PROFILE OPTIONS
profiles {
	
	standard {
		
		docker.enabled = true
		singularity.enabled = false
		conda.enabled = false
		
		process {
			
			withName:UPDATE_PANGO_CONTAINER {
				container = "staphb/pangolin:latest"
				docker.runOptions = '--pull=always'
			}
			withName:PULL_NCBI_METADATA {
				container = "biocontainers/ncbi-datasets-cli:14.2.2_cv1"
			}
			withName:RECLASSIFY_LOCAL_SEQS {
				container = "staphb/pangolin:latest"
			}
			withName:RECLASSIFY_NCBI_SEQUENCES {
				container = "staphb/pangolin:latest"
			}
			// withName:PULL_NCBI_CANDIDATES {
			// 	container = "biocontainers/ncbi-datasets-cli:14.2.2_cv1"
			// }
			withName:FILTER_NCBI_METADATA {
				container = "nrminor/nf-r:28141"
			}
			withName:FIND_NCBI_LONG_INFECTIONS {
				container = "nrminor/nf-r:28141"
			}
			withName:CONCAT_NCBI_LONG_INFECTIONS {
				container = "nrminor/nf-r:28141"
			}
			withName:SEARCH_NCBI_METADATA {
				container = "nrminor/nf-r:28141"
			}
			withName:FIND_LOCAL_LONG_INFECTIONS {
				container = "nrminor/nf-r:28141"
			}
			withName:CONCAT_LOCAL_LONG_INFECTIONS {
				container = "nrminor/nf-r:28141"
			}
			withName:SEARCH_DHOLAB_METADATA {
				container = "nrminor/nf-r:28141"
			}
			withName:FILTER_GISAID_METADATA {
				container = "nrminor/nf-r:28141"
			}
			withName:DATE_FASTAS {
				container = "nrminor/nf-r:28141"
			}
			withName:CONCAT_GISAID_LONG_INFECTIONS {
				container = "nrminor/nf-r:28141"
			}
			withName:SEARCH_GISAID_METADATA {
				container = "nrminor/nf-r:28141"
			}
		}
		
	}

	chtc {

		docker.enabled = false
		singularity.enabled = true
		conda.enabled = false

		executor {

			name = 'local'
			cpus = 8
			memory = 32.GB

			}
			
	}
	
	docker {
		
		docker.enabled = true
		singularity.enabled = false
		conda.enabled = false
		
		process {
			
			withName:UPDATE_PANGO_CONTAINER {
				container = "staphb/pangolin:latest"
				docker.runOptions = '--pull=always'
			}
			withName:PULL_NCBI_METADATA {
				container = "biocontainers/ncbi-datasets-cli:14.2.2_cv1"
			}
			withName:RECLASSIFY_LOCAL_SEQS {
				container = "staphb/pangolin:latest"
			}
			withName:RECLASSIFY_NCBI_SEQUENCES {
				container = "staphb/pangolin:latest"
			}
			withName:PULL_NCBI_CANDIDATES {
				container = "biocontainers/ncbi-datasets-cli:14.2.2_cv1"
			}
			withName:FILTER_NCBI_METADATA {
				container = "nrminor/nf-r:28141"
			}
			withName:FIND_NCBI_LONG_INFECTIONS {
				container = "nrminor/nf-r:28141"
			}
			withName:CONCAT_NCBI_LONG_INFECTIONS {
				container = "nrminor/nf-r:28141"
			}
			withName:SEARCH_NCBI_METADATA {
				container = "nrminor/nf-r:28141"
			}
			withName:FIND_LOCAL_LONG_INFECTIONS {
				container = "nrminor/nf-r:28141"
			}
			withName:CONCAT_LOCAL_LONG_INFECTIONS {
				container = "nrminor/nf-r:28141"
			}
			withName:SEARCH_DHOLAB_METADATA {
				container = "nrminor/nf-r:28141"
			}
			withName:FILTER_GISAID_METADATA {
				container = "nrminor/nf-r:28141"
			}
			withName:DATE_FASTAS {
				container = "nrminor/nf-r:28141"
			}
			withName:CONCAT_GISAID_LONG_INFECTIONS {
				container = "nrminor/nf-r:28141"
			}
			withName:SEARCH_GISAID_METADATA {
				container = "nrminor/nf-r:28141"
			}
		}
		
	}
	
	singularity {
		
		docker.enabled = false
		singularity.enabled = true
		conda.enabled = false
		
		process {
			
			withName:UPDATE_PANGO_CONTAINER {
				container = "staphb/pangolin:latest"
			}
			withName:PULL_NCBI_METADATA {
				container = "biocontainers/ncbi-datasets-cli:14.2.2_cv1"
			}
			withName:RECLASSIFY_LOCAL_SEQS {
				container = "staphb/pangolin:latest"
			}
			withName:RECLASSIFY_NCBI_SEQUENCES {
				container = "staphb/pangolin:latest"
			}
			withName:PULL_NCBI_CANDIDATES {
				container = "biocontainers/ncbi-datasets-cli:14.2.2_cv1"
			}
			withName:FILTER_NCBI_METADATA {
				container = "nrminor/nf-r:28141"
			}
			withName:FIND_NCBI_LONG_INFECTIONS {
				container = "nrminor/nf-r:28141"
			}
			withName:CONCAT_NCBI_LONG_INFECTIONS {
				container = "nrminor/nf-r:28141"
			}
			withName:SEARCH_NCBI_METADATA {
				container = "nrminor/nf-r:28141"
			}
			withName:FIND_LOCAL_LONG_INFECTIONS {
				container = "nrminor/nf-r:28141"
			}
			withName:CONCAT_LOCAL_LONG_INFECTIONS {
				container = "nrminor/nf-r:28141"
			}
			withName:SEARCH_DHOLAB_METADATA {
				container = "nrminor/nf-r:28141"
			}
			withName:FILTER_GISAID_METADATA {
				container = "nrminor/nf-r:28141"
			}
			withName:DATE_FASTAS {
				container = "nrminor/nf-r:28141"
			}
			withName:CONCAT_GISAID_LONG_INFECTIONS {
				container = "nrminor/nf-r:28141"
			}
			withName:SEARCH_GISAID_METADATA {
				container = "nrminor/nf-r:28141"
			}
		}
		
	}
}


// MANIFEST
manifest {
	homePage = 'https://github.com/dholab/long-infection-finder'
	mainScript = 'long-infection-finder.nf'
	defaultBranch = 'main'
	description = 'Workflow for discovering SARS-CoV-2 prolonged infection candidates in a variety of data sources'
	author = 'Nicholas R. Minor'
}
