// added nextflow setting
// cleanup = true


profiles {
	
	standard {

		// container/environment settings
		singularity.enabled = true
		singularity.cacheDir = "work/singularity/"
		singularity.autoMounts = true
		docker.enabled = false
		conda.enabled = false
		podman.enabled = false
		shifter.enabled = false
		charliecloud.enabled = false
		
		process {

			// slurm job settings
			executor = "slurm"
			clusterOptions = "--partition=shared"
			disk = 64.GB
			memory = { 64.GB * task.attempt }
			time = { 2.days * task.attempt }
			
			// container assignments
			withName:DOWNLOAD_NCBI_PACKAGE {
				container = "docker://biocontainers/ncbi-datasets-cli:14.2.2_cv2"
			}
			withName:UNZIP_NCBI_METADATA {
				container = "docker://biocontainers/ncbi-datasets-cli:14.2.2_cv2"
			}
			withLabel: "alpine_container" {
				container = "docker://nrminor/alpine-pathogen:v0.1.2"
			}
			withName:DOWNLOAD_REFSEQ {
				container = "docker://biocontainers/ncbi-datasets-cli:14.2.2_cv2"
			}
			withName:RECLASSIFY_SC2_WITH_PANGOLIN {
				container = "docker://staphb/pangolin:latest"
			}

		}
		
	}
	
}