// added nextflow setting
// cleanup = true


profiles {
	
	standard {
		
		// container settings
		singularity.enabled = true
		singularity.cacheDir = "work/singularity/"
		singularity.autoMounts = true
		docker.enabled = false
		conda.enabled = false
		podman.enabled = false
		shifter.enabled = false
		charliecloud.enabled = false
		
		process {

			// slurm settings
			executor = 'slurm'
			clusterOptions = "-p=shared"
			disk = 64.GB
			memory = { 64.GB * task.attempt }
			time = { 2.days * task.attempt }
			
			// container specifications
			withName:UPDATE_PANGO_CONTAINER {
				container = "staphb/pangolin:latest"
			}
			withName:DOWNLOAD_NCBI_PACKAGE {
				container = "biocontainers/ncbi-datasets-cli:14.2.2_cv2"
			}
			withName:UNZIP_NCBI_METADATA {
				container = "biocontainers/ncbi-datasets-cli:14.2.2_cv2"
			}
			withLabel: "alpine_container" {
				container = "nrminor/alpine-pathogen:v0.1.2"
			}
			withName:DOWNLOAD_REFSEQ {
				container = "biocontainers/ncbi-datasets-cli:14.2.2_cv2"
			}
			withName:RECLASSIFY_SC2_WITH_PANGOLIN {
				container = "staphb/pangolin:latest"
			}

		}
		
	}
	
}