// added nextflow setting
// cleanup = true


profiles {
	
	standard {
		
		// container settings
		// slurm settings
		process.executor = 'slurm'
		process.clusterOptions = "-p=shared"
		process.disk = 64.GB
		process.memory = { 64.GB * task.attempt }
		process.time = { 2.days * task.attempt }

		// container/environment settings
		singularity.enabled = true
		singularity.cacheDir = "work/singularity/"
		singularity.autoMounts = true
		docker.enabled = false
		conda.enabled = false
		podman.enabled = false
		shifter.enabled = false
		charliecloud.enabled = false
		
		process {
			
			// container specifications
			withName:UPDATE_PANGO_CONTAINER {
				container = "docker://staphb/pangolin:latest"
			}
			withName:DOWNLOAD_NCBI_PACKAGE {
				container = "docker://biocontainers/ncbi-datasets-cli:14.2.2_cv2"
			}
			withName:UNZIP_NCBI_METADATA {
				container = "biocontainers/ncbi-datasets-cli:14.2.2_cv2"
			}
			withLabel: "alpine_container" {
				container = "docker://nrminor/alpine-pathogen:v0.1.2"
			}
			withName:DOWNLOAD_REFSEQ {
				container = "docker://biocontainers/ncbi-datasets-cli:14.2.2_cv2"
			}
			withName:RECLASSIFY_SC2_WITH_PANGOLIN {
				container = "docker://staphb/pangolin:latest"
			}

		}
		
	}
	
}